body {
    background-image: url('../product listing/images/galback.webp');
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color:gold;
    background-color: black;

}
.box:hover {
    transform: scale(1.05);
}
img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    padding: 10px;
}
.image-grid {
    display: grid;
}